@import "mixins";

body,
button,
input,
select,
textarea {
    color: #5d656b;
    font-size: $font-size-base;
    font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
    line-height: 1;
}

body {
    background-color: #f5f7fc;
}

a {
    color: #666666;
}