@import "./mixins";
#app {
    position: relative;
    padding-bottom: 100px;
    min-height: 100vh;
}

// 内容区宽度
.content-wrapper {
    width: 100%;
    max-width: 1280px;
    min-width: 750px;
    margin: 0 auto;
}

// 弹窗居中
.el-dialog__wrapper {
    @include flex-center();
}

// 页面标题
.g-page-title {
    padding: 40px 0 20px;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.2em;
    color: #333;
}

.g-sub-title {
    color: #605f5f;
    font-weight: 700;
    letter-spacing: 0.25em;
    padding: 20px 0;
}

.g-page-step {
    padding: 30px 0 20px;
}

// 面包区样式
.bread-wrapper {
    background-color: #f0f0f0;
    height: $navbar-height;
    @include flex-between();
    justify-content: flex-start;
}

// 按钮样式
.g-back-btn {
    padding: 0 10px;
    font-weight: 700;
    letter-spacing: 0.25em;
    font-size: 14px;
    display: inline-block;
    color: #d1434a;
    border: 1px solid #d1434a;
    line-height: 51px;
    height: 51px;

    &:hover {
        background-color: #ffe5e6;
    }
}

.g-next-btn {
    padding: 0 10px;
    font-weight: 700;
    letter-spacing: 0.25em;
    font-size: 14px;
    border: 1px solid #d1434a;
    background-color: #d1434a;
    color: #fff;
    line-height: 51px;
    height: 51px;
    display: inline-block;

    &:hover {
        background-color: #f16f75;
    }
}

// 弹窗样式
.g-cart {
    &-btn,
    &-btn:hover {
        border-radius: 0px;
        border: 1px solid #d1434a;
        margin-bottom: 20px;
        letter-spacing: 0.2em;
        font-weight: 700;
    }

    .left-btn {
        color: #d1434a;

        &:hover {
            background-color: #ffe5e6;
        }
    }

    .right-btn {
        background-color: #d1434a;

        &:hover {
            background: #f16f75;
            border-color: #f16f75;
        }
    }
}